<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} --- 饿了么商家后台管理系统</title>
    {% block base_css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    {% endblock %}
    {% block ext_css %}

    {% endblock %}
    {% block base_js %}
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% endblock %}
    {% block ext_js %}

    {% endblock %}
</head>
<body>
{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">饿了么商家后台系统</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">我要开店</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('cms.index') }}">{{ current_user.username }}</a></li>
                        <li><a href="{{ url_for('cms.logout') }}">注销</a></li>
                    {% else %}
                        <li><a href="{{ url_for('cms.register') }}">注册</a></li>
                        <li><a href="{{ url_for('cms.login') }}">登录</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}

{% endblock %}
</body>
</html>
